@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  line-height: 1.6;
  font-weight: 400;
  background-color: rgb(222, 222, 224);
  font-family: Roboto, sans-serif;
}

.container {
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(8,
      [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: min-content 85vh min-content;
}

@media only screen and (max-width: 41.625em) {

  body nav .header-nav {
    font-size: 2rem;
  }

  body nav .calculadoras-nav .item-nav-i {
    font-size: 1.1rem;
  }

  body nav .calculadoras-nav .item-nav-a {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 29.375em) {
  html {
    font-size: 58%;
  }
}

@media only screen and (max-width: 27.1875em) {
  body nav .header-nav {
    font-size: 1.6rem;
  }

  body .calc-tmb h1 {
    font-size: 1.7rem;
  }

  body .calc-imc h1 {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 22.5em) {
  body nav .header-nav {
    font-size: 1.3rem;
  }
}